header{
    display: flex;
    justify-content: space-between;
    height: 170px;
    background-color: blue;
    align-items: center;
    padding: 30px;
}

a{
    text-decoration: none;
    color:black
}


.navegador ul{
    display: flex;
    list-style: none;
    font-size: 22px;
}

.titulo-principal{
    margin-left: 30px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
    text-transform: uppercase;
    
}

nav a:hover{
    color:aqua;
}

@media (max-width:850px){
    header{
        flex-direction: column;
        height: fit-content;
    }

   .titulo-principal{
    font-size: 18px;
   } 
}

@media(max-width:475px){
    .titulo-principal{
        font-size: 14px;
    }
    .navegador ul{
        display: flex;
        list-style: none;
        font-size: 12px;
    }  
    }


/* Hasta aqui el header
/*----------------------------------------
/*Desde aqui el main*/
body{
    margin: 0;
}

main{
width: 100%;
background: linear-gradient(grey,rgb(201, 197, 197), #FFFFFF,rgb(201, 197, 197) , grey);

}


.proyectos{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 20px;
    margin: 0;
    list-style: none;
    
}


.proyectos img{
    width: 500px;
    height: auto;
    padding: 20px;
    margin: 20px;
    
}

.proyecto1{
    
    -webkit-transition: 1s linear;
    transition: 1s linear;
}

.proyecto1:hover{
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }

  .proyecto2{

    -webkit-transition: 1s linear;
  
    transition: 1s linear;
    
  }
  .proyecto2:hover{
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  .proyecto3{
    -webkit-transition: 1s linear;
    transition: 1s linear;
    
  }
  .proyecto3:hover{
    -webkit-transform: matrix(0.5, 0.1, 0.5,1,10, -2);
    transform: matrix(0.5, 0.1, 0.5, 1, 10, -2);
  }

  .proyecto4{
    -webkit-transition: 1s linear;
    transition: 1s linear;
    
  }
  .proyecto4:hover{
    -webkit-transform: perspective(500px) rotateY(45deg);
    transform: perspective(500px) rotateY(45deg);
  }


@media(max-width:475px){
 
    .proyectos img{
        width: 80%;
        height: auto;
        padding: 20px;
        margin: 20px;
    }
}

/*--------------------------*/
/*Desde Aqui el footer*/

footer{
    background-color: blue;
    padding: 10px;
    text-align: center;
    
}

.redes{
    list-style: none;
    display:inline-flex;
    gap: 20px
}

.redes li a{
    text-decoration: none;
    color: black;
    
}
