header{
    display: flex;
    justify-content: space-between;
    height: 170px;
    background-color: blue;
    align-items: center;
    padding: 30px;
}

a{
    text-decoration: none;
    color:black
}


.navegador ul{
    display: flex;
    list-style: none;
    font-size: 22px;
}

.titulo-principal{
    margin-left: 30px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
    text-transform: uppercase;
    
}

nav a:hover{
    color:aqua;
}

@media (max-width:850px){
    header{
        flex-direction: column;
        height: fit-content;
    }

   .titulo-principal{
    font-size: 18px;
   } 
}

@media(max-width:475px){
    .titulo-principal{
        font-size: 14px;
    }
    .navegador ul{
        display: flex;
        list-style: none;
        font-size: 12px;
    }  
    }
/* Hasta aqui el header
/*----------------------------------------
/*Desde aqui el main*/

main{
    width: 100%;
    height:60vh;
    background: linear-gradient(grey,rgb(201, 197, 197), #FFFFFF,rgb(201, 197, 197) , grey);
    padding-top: 150px;
    padding-bottom: 50px;
}


body{
    margin: 0;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}

.contacto  {
    display:flex;
    text-align: center;
    width: 80%;
    margin:0 auto;
    box-sizing: border-box;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    justify-content: center;

}

.contacto ul{
    display:flex;
    width: 80%;
    justify-content: center;
}


.mail p{
    width: 100%;
    
}

.telefono p{
    width: 100%;
}

.linkedin p{
    width: 100%;
}

.contacto li{
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    
}


.contacto li a{
    color: black;
}


.cv{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 60px;
    color: black;
    
}

.cv a{
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
}

.descarga{
   box-shadow: 10px 10px 15px black;
   width: max-content;
   text-align: center;
   
}

.descarga a:hover{
    color: blue;
}
/*--------------------------*/
/*Desde Aqui el footer*/
 
footer{
    background-color: blue;
    padding: 0px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    
}

.copy{
    text-align: center;
}

.redes{
    list-style: none;
    display:inline-flex;
    gap: 20px
}

.redes li a{
    text-decoration: none;
    color: black;
    
}